POSTGRES_USER=plateia
POSTGRES_PASSWORD=plateia_dev_password
POSTGRES_DB=plateia
POSTGRES_PORT=5432

POSTGRES_TEST_USER=plateia_test
POSTGRES_TEST_PASSWORD=plateia_test_password
POSTGRES_TEST_DB=plateia_test
POSTGRES_TEST_PORT=5433